@model Barbearia;

@{
    ViewData["Title"] = "Corte Agendamento";
}

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div  class="text-center">
    <h1 class="display-4">@Model.Nome</h1>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">  Clique  aqui para fazer o Login  </a>
</div>
