
@{
    ViewData["Title"] = "Tela de Login";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="bodylogin">
    <div class="login-container">
        <div class="image-container">
            <img src="https://via.placeholder.com/300x800">
            IMAGEN
        </div>

        <div class="login-form">
            <h1>frase de efeito</h1>
            <form>
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Senha">
                <input type="submit" value="Entrar">
            </form>
        </div>

        <div class="image-container">
            <img src="https://via.placeholder.com/300x800">
            IMAGEN
        </div>
    </div>
</body>
</html>

